<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- 长方体惯性矩阵宏 -->
    <!-- 参数: m=质量, l=长(x)， w=宽(y), h=高(z) -->
    <xacro:macro name="box_inertia" params="m l w h">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (h*h + w*w)}" ixy="0.0" ixz="0.0"
                     iyy="${(m/12) * (l*l + h*h)}" iyz="0.0"
                     izz="${(m/12) * (l*l + w*w)}" />
        </inertial>
    </xacro:macro>

    <!-- 圆柱体惯性矩阵宏 -->
    <!-- 参数: m=质量, r=半径, h=高度(z轴方向) -->
    <!-- 注意: 这是圆柱体沿Z轴放置的情况 -->
    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (3*r*r + h*h)}" iyz="0"
                     izz="${(m/2) * (r*r)}" />
        </inertial>
    </xacro:macro>

    <!-- 球体惯性矩阵宏 -->
    <!-- 参数: m=质量, r=半径 -->
    <xacro:macro name="sphere_inertia" params="m r">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0"
                     iyy="${(2/5) * m * (r*r)}" iyz="0.0"
                     izz="${(2/5) * m * (r*r)}" />
        </inertial>
    </xacro:macro>

</robot>